body {
    margin: 2% 3% 2% 3%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#s3list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

th, td, tr {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    -webkit-transition: background-color 0.4s linear, color 0.4s linear;
    transition: background-color 0.4s linear, color 0.4s linear;
}

#bucketname:hover {
    background-color: grey;
    color: white;
}

th {
    background-color: lightblue;
}

#backheading, #backcolumn {
    color: white;
    background-color: darkred;
    width: 18px;
}

#backheading:hover {
    color: black;
    background-color: lightgray;
}

#backcolumn:hover {
    color: black;
    background-color: lightgray;
}

#tableaddrrow:hover {
    background-color: lightgray;
}

#tableaddr:link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#tableaddr:visited {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#tableaddr:hover {
    background-color: lightgray;
    text-decoration: none;
}

#tableaddr:active {
    text-decoration: none;
    background-color: lightgray;
}