.navbar .container .navbar-brand .navbar-item img {
	max-height: 2.5rem;
}

.footer {
    background-color: #ffffff;
}

.searchBox {
    width: 30%;
    margin-left: auto;
}

.groupControls {
    margin: 0 5%;
}