cypress
.tox
.*_cache
build
htmlcov
venv
.venv
.git
*.egg-info

swift_browser_ui_frontend/cypress
swift_browser_ui_frontend/dist
swift_browser_ui_frontend/node_modules

**/__pycache__
**/build
**/bindings

**/*.zip
**/*.tar*
