### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Documentation builds, Sphynx and mkdocs
docs/_build/
docs/build/
site/

# Environments
.env*
.venv
env/
venv/

# mypy
.mypy_cache/

# VSCode
.vscode/

swift_browser_ui_frontend/src/common/swift_sharing_request_bind.js
swift_browser_ui_frontend/src/common/swift_x_account_sharing_bind.js

## Tests
# ignore pyspelling
dictionary.dic

# Cypress screenshots and fixtures
swift_browser_ui_frontend/cypress
tests/cypress/fixtures

# Node files
**/node_modules/
**/.node_modules/

# wasm build files
swift_browser_ui_frontend/wasm/build/
swift_browser_ui_frontend/wasm/src/libupload.js
swift_browser_ui_frontend/wasm/src/libupload.wasm
swift_browser_ui_frontend/public/*.js
swift_browser_ui_frontend/public/*.js.map
swift_browser_ui_frontend/public/*.wasm

private
static

Procfile.*
*.pem
*.log

# Development build files
**/.devres/
**/test-data/
**/.docker-volumes/
