aiohttp==3.10.8
aiohttp-session==2.12.1
redis==5.1.0
asyncpg==0.29.0
certifi==2024.8.30
click==8.1.7
cryptography==43.0.1
gunicorn==22.0.0
keystoneauth1==5.8.0
oidcrp==2.1.4
python-swiftclient==4.6.0
uvloop==0.20.0
msgpack==1.1.0
