aiohttp==3.12.15
aiohttp-session==2.12.1
redis==5.2.1
asyncpg==0.30.0
certifi==2025.1.31
click==8.1.8
cryptography==44.0.2
gunicorn==23.0.0
keystoneauth1==5.10.0
oidcrp==2.1.4
python-swiftclient==4.7.0
uvloop==0.21.0
msgpack==1.1.0
ldap3==2.9.1
aioboto3==15.2.0
