aiohttp==3.14.2
aiohttp-session==2.12.1
redis==5.3.1
asyncpg==0.31.0
certifi==2025.11.12
click==8.4.2
cryptography==48.0.1
gunicorn==23.0.0
keystoneauth1==5.15.0
idpyoidc==5.0.0
python-swiftclient==4.10.0
uvloop==0.22.1
msgpack==1.2.1
ldap3==2.9.1
aioboto3==15.5.0
