<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="static/css/browse.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="static/js/btablecomp.js"></script>
        <title>S3 object browser mockup</title>
    </head>
    <body>
        <script>
            window.onbeforeunload = function () {
                fetch('login/kill', {method: 'GET', credentials: 'include'})
                    .then(
                        function ( response ) {
                            console.log(response.status());
                        }
                    )
            }
        </script>
        <div id='projectChooser'>
            <ul id="projectlist">
                <li
                    is="project-list-element"
                    v-for="item in projects"
                    v-bind:key="item"
                    v-bind:project="item"
                    v-on:projectclick="changeProject ( item )"
                ></li>
            </ul>
        </div>
        <div id='app'>
            <h1>Displaying containers for {{ user }}</h1>
        </div>
        <div id='s3list'>
            <table id='btable' v-if='buckets'>
                <tr
                    is="bucket-table-heading"
                ></tr>
                <tr
                    is="bucket-table-row"
                    v-for="item in bList"
                    v-bind:key="item.name"
                    v-bind:bname="item.name"
                    v-on:bclick="getObjects ( item.name )"
                ></tr>
            </table>
            <table id='otable' v-if='objects'>
                <tr
                    is="object-table-heading"
                    v-on:oheadingclick="bringBucketsFront ()"
                ></tr>
                <tr
                    is="object-table-row"
                    v-for="item in oList"
                    v-bind:key='item.hash'
                    v-bind:stobject='item'
                    v-bind:bucket='currentBucket'
                    v-bind:dloadlink='item.url'
                    v-on:oheadingclick="bringBucketsFront ()"
                ></tr>
            </table>
        </div>
        <script src="static/js/browse.js"></script>
    </body>
</html>