<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- Maybe these should be bundled to conserve 3rd party -->
    <!-- CDN bandwidth? (Also could be faster to self-host) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/buefy@0.7.8/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/buefy@0.7.8/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <script src="/static/js/lang.js"></script>
    <link rel='stylesheet' href='/static/css/browse.css'>
    <script src="/static/js/index.js"></script>
    <title>Object storage browser</title>
  </head>
  <body>
    <div id="app">
      <div class="navbar has-shadow is-spaced">
        <div class="container is-fluid">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="/static/img/csc_logo.svg" :alt="$t('message.cscOrg')">
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <b-field class="locale-changer">
                  <b-select placeholder="Language" icon="earth"
                      v-model="$i18n.locale"
                      v-on:input="setCookieLang ()">
                    <option v-for="lang in langs" :key="lang.value" :value="lang.value">{{ lang.ph }}</option>
                  </b-select>
                </b-field>
              </div>
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary" href="/login">{{ $t("message.index.logIn") }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      app.$mount("#app")
    </script>
  </body>
</html>
