<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="static/css/browse.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="static/js/btablecomp.js"></script>
        <title>S3 object browser mockup</title>
    </head>
    <body>
        <div id='app'>
            <h1>S3 mockup web application for user {{ user }}</h1>
        </div>
        <div id='s3list' >
            <table id='btable' v-if='buckets'>
                <tr
                    is="bucket-table-heading"
                ></tr>
                <tr
                    is="bucket-table-row"
                    v-for="item in bList"
                    v-bind:key="item.Name"
                    v-bind:bname="item.Name"
                    v-bind:bdate="item.CreationDate"
                    v-on:bclick="getObjects ( item.Name )"
                ></tr>
            </table>
            <table id='otable' v-if='objects'>
                <tr
                    is="object-table-heading"
                    v-on:oheadingclick="bringBucketsFront ()"
                ></tr>
                <tr
                    is="object-table-row"
                    v-for="item in oList"
                    v-bind:key='item.Key'
                    v-bind:stobject='item'
                    v-bind:bucket='currentBucket'
                    v-on:orowclick='downloadObject ( item.Key )'
                ></tr>
            </table>
        </div>
        <script src="static/js/browse.js"></script>
    </body>
</html>