@charset "utf-8";

$buefy-prime: #7957D5;
$light-blue: hsl(204, 86%, 65%); 

$link: $light-blue;
$primary: $buefy-prime;

@import "bulma/sass/utilities/_all.sass";

$body-background-color: $black-ter;
$body-color: $light;

$footer-background-color: $black-ter;

$navbar-background-color:  $dark;
$navbar-box-shadow-color: $black-ter;
$navbar-item-color: $light;
$navbar-item-hover-background-color: $dark;
$navbar-dropdown-background-color: $dark;

$table-background-color: $dark;
$table-color: $light;
$table-cell-heading-color: $light;
$table-head-cell-color : $light;
$table-foot-cell-color : $light;
$table-row-hover-background-color: $black-ter;

.tile .is-child {
    background-color: $dark;

    p {
        color: $light;
    }
}

.detail {
    background-color: $black-ter !important;
    box-shadow: inset 0 1px 3px $dark !important;
}

.pagination-previous .pagination-next {
    background-color: $light !important;
    color: $light !important;
}

#login-center {
    background-color: $grey;

    .message-header {
        p {
            background-color: transparent;
        }
    }

    p {
        background-color: $grey;
        a {
            color: $primary;
        }
    }
}

csclogo {
    background: $light;
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "buefy/src/scss/buefy";
