@charset "utf-8";

$buefy-prime: #7957D5;
$light-blue: hsl(204, 86%, 65%); 

$link: $light-blue;
$primary: $buefy-prime;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "buefy/src/scss/buefy";
