#loginwindow {
    width: 70ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

.maintext {
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5;
}

#manlist {
    text-align: justify;
    font-family: monospace;
    line-height: 1.4;
}

li {
    text-align: left;
}

a {
    color: black;
}

a:hover {
    background: pink;
    color: black;
}

form {
    text-align: center;
    line-height: 2.5;
    font-family: sans-serif;
}

#inputbox {
    width: 40ch;
}