<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- Maybe these should be bundled to conserve 3rd party -->
    <!-- CDN bandwidth? (Also could be faster to self-host) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/buefy@0.7.8/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/buefy@0.7.8/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <script src="/static/js/lang.js"></script>
    <link rel="stylesheet" href="/css-conditional/bulma-custom.css">
    <link rel='stylesheet' href='/static/css/browse.css'>
    <script src="/static/js/index.js"></script>
    <title>Unauthorized</title>
  </head>
  <body>
    <div id="app" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-4-desktop is-3-widescreen box" id="login-center">
              <div class="columns is-centered">
                <a href="#">
                  <img src="/static/img/csc_logo.svg" :alt="$t('message.cscOrg')">
                </a>
              </div>
              <div>
                <b-message
                  :title="$t('message.error.Unauthorized')"
                  type="is-warning"
                  has-icon
                >{{ $t("message.error.Unauthorized_text") }}</b-message>
              </div>
              <div class="buttons">
                <a class="button is-primary is-fullwidth" href="/login">{{ $t("message.index.logIn") }}</a>
              </div>
              <div class="buttons">
                <a class="button is-primary is-fullwidth" href="/">{{ $t("message.error.frontPage") }}</a>
              </div>
              <b-field class="locale-changer">
                <b-select placeholder="Language" icon="earth"
                    v-model="$i18n.locale"
                    v-on:input="setCookieLang ()"
                    expanded>
                  <option v-for="lang in langs" :key="lang.value" :value="lang.value">{{ lang.ph }}</option>
                </b-select>
              </b-field>
              <footer class="footer">
                <div class="content has-text-centered">
                  <p>
                    <strong>{{ $t("message.program_name") }}</strong> {{ $t("message.devel") }}
                    <a href="https://csc.fi" :alt="$t('message.cscOrg')">{{ $t("message.cscOrg") }}</a>
                  </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      app.$mount("#app")
    </script>
  </body>
</html>
